## Arquivos de build e pastas
bin/
obj/
out/

## Arquivos do Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider
.idea/

## Arquivos do VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## Arquivos de banco de dados local
*.mdf
*.ldf
*.ndf

## Logs
*.log

## Configurações sensíveis
appsettings.*.json
!appsettings.json
!appsettings.Development.json
